.background-filter::after {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); 
  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}

.background {
    background-image: url('/assets/background.webp');
    background-blend-mode: overlay;
    background-color: var(--background);
    background-attachment: fixed;
    background-position: center;
}

.content {
  position: relative;
  z-index: 1;
}


.swiper {
  overflow: visible !important;
}

.swiper-slide .card-inner {
  transform: scale(0.85);
  opacity: 0.4;
  transition: all 0.5s ease-in-out;
}

.swiper-slide-active .card-inner {
  transform: scale(1.1) !important; 
  opacity: 1 !important;
}

.swiper-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}