.background-filter::after {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px); 
  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}

.background {
    background-image: url('../../assets/background.jpg');
    background-blend-mode: overlay;
    background-color: var(--background);
    background-attachment: fixed;
    background-position: center;
}

.content {
  position: relative;
  z-index: 1;
}