@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: "Montserrat", sans-serif;

  --background: #12100E;
  --brown-dark: #2C1B14;
  --brown-light: #4E342E;
  --accent: #D97706;
  --text-dark: #2C1B14;
  --text-light: #FAF9F6;


  --orange: #D97706;
  --burnt-orange: #B45309;
  --warm-honey: #F59E0B;
}

#root{
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
}

a{
  color: var(--text-light);
  text-decoration: none;
  transition: all 0.2s linear;
}

a:hover{
  color: var(--warm-honey);
  transition: all 0.2s linear;
}

.bg-dark-brown{
  background-color: var(--brown-dark);
}

.cta-button {
  background: linear-gradient(
    to bottom, 
    var(--warm-honey) 0%, 
    var(--orange) 50%, 
    var(--burnt-orange) 100%
  );
  background-size: 100% 200%;
  background-position: top;

  color: var(--text-light);
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-position 0.4s ease, transform 0.2s ease;
}

.cta-button:hover {
  color: var(--text-light);
  background-position: bottom;
  transform: translateY(-0.1px);
}

.text-light{
  color: var(--text-light);
}

.text-accent{
  color: var(--accent);
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.special-text{
  color: var(--accent);
  font-weight: 900; 
  font-style: italic;
}

.icon-custom-color {
  color: var(--accent);
}

input, select, textarea{
  background-color: var(--background);
}